<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>ArcGIS DevLabs: Get a route and directions</title>
	<style>
		html, body, #viewDiv {
			padding: 0;
			margin: 0;
			height: 100%;
			width: 100%;
		}
	</style>

	<link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
	<script src="https://js.arcgis.com/4.10/"></script>

	<script>
		require([
			"esri/WebMap",
			"esri/views/MapView",
			"esri/Graphic",
			"esri/tasks/RouteTask",
			"esri/tasks/support/RouteParameters",
			"esri/tasks/support/FeatureSet",
			"dojo/domReady!"
		], function(WebMap, MapView, Graphic, RouteTask, RouteParameters, FeatureSet) {

			var map = new WebMap({
				portalItem: {
					id: "a0c3884daaf74842823d4a7328662157"  // WGS84 Streets Vector webmap
				}
			});

			var view = new MapView({
				container: "viewDiv",
				map: map
			});

			// To allow access to the route service and prevent the user from signing in, do the Challenge step in the lab to set up a service proxy

			var routeTask = new RouteTask({
				url: "https://route.arcgis.com/arcgis/rest/services/World/Route/NAServer/Route_World"
			});

			view.on("click", function(event){
				if (view.graphics.length === 0) {
					addGraphic("start", event.mapPoint);
				} else if (view.graphics.length === 1) {
					addGraphic("finish", event.mapPoint);
					// Call the route service
					getRoute();
				} else {
					view.graphics.removeAll();
					addGraphic("start",event.mapPoint);
				}
			});

			function addGraphic(type, point) {
				var graphic = new Graphic({
					symbol: {
						type: "simple-marker",
						color: (type === "start") ? "white" : "black",
						size: "8px"
					},
					geometry: point
				});
				view.graphics.add(graphic);
			}

			function getRoute() {
				// Setup the route parameters
				var routeParams = new RouteParameters({
					stops: new FeatureSet({
						features: view.graphics
					}),
					returnDirections: true
				});
				// Get the route
				routeTask.solve(routeParams).then(function(data) {
					data.routeResults.forEach(function(result) {
						result.route.symbol = {
							type: "simple-line",
							color: 'black',
							width: 3
						};
						view.graphics.add(result.route);
					});

				});
			}

		});
	</script>
</head>
<body>
<div id="viewDiv"></div>
</body>
</html>