<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>Intro to MapImageLayer - 4.10</title>

	<link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
	<script src="https://js.arcgis.com/4.10/"></script>

	<style>
		html,
		body,
		#viewDiv {
			padding: 0;
			margin: 0;
			height: 100%;
			width: 100%;
		}
	</style>

	<script>
		require([
					"esri/Map",
					"esri/views/MapView",
					"esri/layers/MapImageLayer"
				],
				function(
						Map, MapView, MapImageLayer
				) {

					/*****************************************************************
					 * Create a MapImageLayer instance pointing to a Map Service
					 * containing data about pool permits in Southern California.
					 * url 地图服务器上发布地图的地址
					 *****************************************************************/
					var permitsLayer = new MapImageLayer({
						//url:"http://localhost:6080/arcgis/rest/services/hello/basemap102/MapServer"
						url:"http://localhost:6080/arcgis/rest/services/taile/MyMapService/MapServer"
					});

					/*****************************************************************
					 * Add the layer to a map
					 *****************************************************************/
					var map = new Map({
						layers: [permitsLayer]
					});

					var view = new MapView({
						container: "viewDiv",
						map: map
					});

					/*****************************************************************
					 * Animate to the layer's full extent when the layer loads.
					 *****************************************************************/
				});
	</script>
</head>

<body>
<div id="viewDiv"></div>
</body>

</html>