<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>Intro to graphics - 4.10</title>

	<link rel="stylesheet" href="https://js.arcgis.com/4.9/esri/css/main.css">
	<script src="https://js.arcgis.com/4.9/"></script>
	//导入本地部署的api
##	<link rel="stylesheet" href="http://192.168.10.144:8080/arcgis_js_api/library/4.10/esri/css/main.css">
##	<script src="http://192.168.10.144:8080/arcgis_js_api/library/4.10/init.js"></script>
	<script src="http://192.168.10.101:8080/arcGis/resources/jquery-1.9.1.min.js"></script>

	<style>
		html,
		body,
		#viewDiv {
			padding: 0;
			margin: 0;
			height: 100%;
			width: 100%;
		}
	</style>

	<script>
	</script>
	<script>
		require([
			"esri/Map",
			"esri/views/MapView",
			"esri/Graphic",
			"esri/geometry/Polyline",
			"esri/layers/GraphicsLayer",
			"esri/layers/MapImageLayer"
		], function(
				Map, MapView, Graphic,Polyline, GraphicsLayer,MapImageLayer
		) {

			var permitsLayer = new MapImageLayer({
				url:"http://192.168.10.101:6080/arcgis/rest/services/taile/MyMapService/MapServer"
			});

			var graphicsLayer = new GraphicsLayer({
				outFields: ["*"],
				highlightOptions: {
					color: "orange"
				}
			});

			var map = new Map({
				layers:[permitsLayer,graphicsLayer]
			});

//			var map = new WebMap({
//				url:"http://localhost:6080/arcgis/rest/services/taile/MyMapService/MapServer",
//				layers:[graphicsLayer]
//			});

			var view = new MapView({
				//center: [-80, 35],
				container: "viewDiv",
				map: map,
				zoom: 12,
				highlightOptions: {
					color: "orange"
				}
			});
			//map.add(graphicsLayer);

			// Create a symbol for drawing the point
			var markerSymbol = {
				type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
				color: [226, 119, 40],
				outline: { // autocasts as new SimpleLineSymbol()
					color: [255, 255, 255],
					width: 2
				}
			};

			/****************************
			 * Create a polyline graphic
			 ****************************/

					// First create a line geometry (this is the Keystone pipeline)
			var polyline = {
						type: "polyline", // autocasts as new Polyline()
						paths: [
							[109.509, 18.258],
							[109.51, 18.255],
							[109.51, 18.253],
							[109.51, 18.249],
							[109.51, 18.246],

							[109.511, 18.242],
							[109.511, 18.238],
							[109.51, 18.235],
							[109.509, 18.232]
						]
					};

			var polyline2 = {
				type: "polyline",
				paths: [
					[109.509, 18.258],
					[109.51, 18.258],
					[109.51, 18.259],
					[109.511, 18.26],
					[109.511, 18.262],
					[109.512, 18.263],
					[109.523, 18.263]
				]
			}

			// Create a symbol for drawing the line
			var lineSymbol = {
				type: "simple-line", // autocasts as SimpleLineSymbol()
				color: "blue",
				width: 4
			};

			// Create an object for storing attributes related to the line
			var lineAtt = {
				riverCode: "H001",
				河道名称: "三亚河1",
				河道起点: "马家村",
				河道终点: "牛家村",
				河道长度: "1km",
				整治目标: "整治污水",
				所属区域: "地球村",
				河长名称: "马大富",
				河长职位: "村委书记",
				河长联系电话: "123456987"
			};

			var lineAtt2 = {
				riverCode: "H002",
				河道名称: "三亚河2",
				河道起点: "马家村",
				河道终点: "牛家村",
				河道长度: "1km",
				整治目标: "整治污水",
				所属区域: "地球村",
				河长名称: "马大富",
				河长职位: "村委书记",
				河长联系电话: "123456987"
			};

			/*******************************************
			 * Create a new graphic and add the geometry,
			 * symbol, and attributes to it. You may also
			 * add a simple PopupTemplate to the graphic.
			 * This allows users to view the graphic's
			 * attributes when it is clicked.
			 ******************************************/
			var polylineGraphic = new Graphic({
				geometry: polyline,
				symbol: lineSymbol,
				attributes: lineAtt,
				popupTemplate: { // autocasts as new PopupTemplate()
					title: "{河道名称}",
					content: [{
						type: "fields",
						fieldInfos: [{
							fieldName: "河道名称"
						}, {
							fieldName: "河道起点"
						}, {
							fieldName: "河道终点"
						}, {
							fieldName: "河道长度"
						}, {
							fieldName: "整治目标"
						}, {
							fieldName: "所属区域"
						}, {
							fieldName: "河长名称"
						}, {
							fieldName: "河长职位"
						}, {
							fieldName: "河长联系电话"
						}]
					}]
				}

			});

			var polylineGraphic2 = new Graphic({
				geometry: polyline2,
				symbol: lineSymbol,
				attributes: lineAtt2,
				popupTemplate: { // autocasts as new PopupTemplate()
					title: "{河道名称}",
					content: [{
						type: "fields",
						fieldInfos: [{
							fieldName: "河道名称"
						}, {
							fieldName: "河道起点"
						}, {
							fieldName: "河道终点"
						}, {
							fieldName: "河道长度"
						}, {
							fieldName: "整治目标"
						}, {
							fieldName: "所属区域"
						}, {
							fieldName: "河长名称"
						}, {
							fieldName: "河长职位"
						}, {
							fieldName: "河长联系电话"
						}]
					}]
				}

			});
			graphicsLayer.add(polylineGraphic);
			graphicsLayer.add(polylineGraphic2);

			//在GraphicsLayer图层上改变图形的颜色
			//定义原先色折线变量 已便后面恢复折线的颜色
			//highlight 该高亮方法执行过一次之后就不再执行下面的代码
			var originGraphics = null;
			var originGraphics2 = null;
			var originRiverCode = null;
			view.on("pointer-move", function (evt) {
				view.hitTest(evt).then(function (response) {
					var result = response.results[0];
					if (result && result.graphic) {
						//console.log(result);
						var graphic = result.graphic;
						//自定义高亮
						//这里的几何图形是面状，配置graphic的symbol为simple-line
						graphic.symbol = {
							type: "simple-line",
							color: "red",
							width: "4"
						};
						//判断之前的折线是否为当前鼠标移动到的折线 若不是重置折线的属性
						if (result.graphic.attributes.riverCode != originRiverCode && originRiverCode != null) {
							graphicsLayer.remove(originGraphics);
							originGraphics2.symbol = {
								type: "simple-line",
								color: "blue",
								width: "4"
							}
							graphicsLayer.add(originGraphics2);
							view.popup.close();
						}

						originGraphics = result.graphic;
						originGraphics2 = result.graphic;
						originRiverCode = graphic.attributes.riverCode;
						view.graphics.highlight(graphic);
					} else {
						//回复原先的折线颜色
						originGraphics.symbol = {
							type: "simple-line",
							color: "blue",
							width: "4"
						}
						view.graphics.highlight(originGraphics);
					}
				})
			});
		});
	</script>
</head>

<body>
<div id="btn">
	<input id="btnv" type="text"/>
	<button type="button" id="btc">搜索</button>
</div>
<div id="viewDiv"></div>
<div id="info">
	<span id="name"></span>
	<br>
	<span id="category"></span>
	<br>
	<span id="wind"></span>
</div>
</body>

</html>