<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="https://js.arcgis.com/3.27/esri/css/esri.css">
	<script src="https://js.arcgis.com/3.27/"></script>
	<style>
		*{ padding: 0px; margin:0px; } body,html{ height:100%; } #map{ width: 100%; height: 100%; }
		.operatePanel{ position: absolute; top:0px; right: 0px; width: 130px; height: 100px; border: 1px solid #0d1721; background: #ffffff; }
		.button{ width: 100%; height: 30px; font-size: 14px; border: 1px solid red; line-height: 30px; text-align: center; cursor: pointer; } </style>
</head>
<body>
<div id="map"></div>
<div class="operatePanel">
	<div id="signle" class="button">单个graphics闪烁</div>
	<div id="multi" class="button">多个graphics闪烁</div>
</div>
<script>
	//数据准备(模拟)
	var singleGraphicsArr = [{ id:1001,x: -13634788.39813648, y: 4548334.964686886, }];
	var multiGraphicsArr = [{ id:1002,name:"闪烁测试",x: -13627316.678621612, y: 4541493.850655373, }];
	var singleGraphicObjArr = [];
	var multiGraphicObjArr = [];
	require([
		"dojo/dom",
		"dojo/on",
		"esri/map",
		"esri/layers/GraphicsLayer",
		"esri/geometry/Point",
		"esri/graphic",
		"esri/symbols/PictureMarkerSymbol",
		"esri/SpatialReference",
		"esri/symbols/TextSymbol",
		"esri/Color",
		"esri/symbols/Font", ],function(dom,on,Map,GraphicsLayer,Point,Graphic,PictureMarkerSymbol,SpatialReference,TextSymbol,Color, Font) {

		var map = new Map("map", { basemap: "topo", center: [-122.45, 37.75], zoom: 13 });

		var singleGraphicsLayer = new GraphicsLayer();

		var multiGraphicsLayer = new GraphicsLayer();

		map.addLayers([singleGraphicsLayer,multiGraphicsLayer]);

		var locSymbol = new PictureMarkerSymbol('https://static.arcgis.com/images/Symbols/Shapes/BlackStarLargeB.png',32,47);

		singleGraphicsArr.map((item)=>{
			var point = new Point(item.x,item.y,new SpatialReference(3857))

			var pointGraphic = new Graphic(point,locSymbol);

			singleGraphicsLayer.add(pointGraphic);

			var tempGraphic = {
				id:item.id,
				graphics:[pointGraphic]
			};

			singleGraphicObjArr.push(tempGraphic)
		});

		multiGraphicsArr.map((item)=>{ var point = new Point(item.x,item.y,new SpatialReference(3857));

		var backgroundSymbol = new PictureMarkerSymbol('https://static.arcgis.com/images/Symbols/Shapes/BlackStarLargeB.png',100,25).setOffset(0, -35);

		var textSym = new TextSymbol(item.name).setColor(new Color([255,255,255])).setAlign(TextSymbol.ALIGN_MIDDLE).setFont(new Font("14px").setWeight(Font.WEIGHT_BOLD)) .setOffset(0, -40);

		var pointGraphic = new Graphic(point,locSymbol);

		var backgroundGraphic = new Graphic(point,backgroundSymbol);

		var textSymGraphic = new Graphic(point,textSym);

		singleGraphicsLayer.add(pointGraphic);

		singleGraphicsLayer.add(backgroundGraphic);

		singleGraphicsLayer.add(textSymGraphic);

		var tempGraphic = { id:item.id, graphics:[pointGraphic,backgroundGraphic,textSymGraphic] };

		multiGraphicObjArr.push(tempGraphic) });

		//定位时闪烁功能
		function locFlash(initGraphicsArr,value,x,y){
			var initPoint = new Point(x,y,new SpatialReference(3857));
		map.centerAndZoom(initPoint,14);
		for(var item in initGraphicsArr) {
			if (value == item.id) {
				for (var graphics in item.graphics) {
					var temp = 0;
					graphics.hide();// 先隐藏

				var handler = setInterval(function() {
					if (temp === 4) {
						if (handler) {
							if (!graphics.visible)
								graphics.show();
							clearInterval(handler);
							handler = null; }
							return;
					}
					if (graphics.visible)
						graphics.hide();
					else
						graphics.show();
					temp++;
					}, 700);
				}
			}
		}
		}
		on(dom.byId("signle"),"click",function () {
			locFlash(singleGraphicObjArr,"1001",-13634788.39813648,4548334.964686886);
		});

		on(dom.byId("multi"),"click",function () {
			locFlash(multiGraphicObjArr,"1002",-13627316.678621612, 4541493.850655373);
		});
});
	</script>
</body>
</html>
