<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>Intro to graphics - 4.10</title>

	<link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
	<script src="https://js.arcgis.com/4.10/"></script>

	<style>
		html,
		body,
		#viewDiv {
			padding: 0;
			margin: 0;
			height: 100%;
			width: 100%;
		}
	</style>

	<script>
		require([
			"esri/WebMap",
			"esri/views/MapView",
			"esri/Graphic",
			"esri/geometry/Polyline",
			"esri/renderers/UniqueValueRenderer",
			"esri/symbols/SimpleFillSymbol",
			"esri/Color"
		], function(
				WebMap, MapView, Graphic,Polyline,UniqueValueRenderer,
				Color
		) {

			var map = new WebMap({
				portalItem: {
					id: "a0c3884daaf74842823d4a7328662157"  // WGS84 Streets Vector webmap
				}
			});

			var view = new MapView({
				//center: [-80, 35],
				container: "viewDiv",
				map: map,
				zoom: 12
			});

			/*************************
			 * Create a point graphic
			 *************************/

					// First create a point geometry (this is the location of the Titanic)
			var point = {
						type: "point", // autocasts as new Point()
						longitude: -49.97,
						latitude: 41.73
					};

			// Create a symbol for drawing the point
			var markerSymbol = {
				type: "simple-marker", // autocasts as new SimpleMarkerSymbol()
				color: [226, 119, 40],
				outline: { // autocasts as new SimpleLineSymbol()
					color: [255, 255, 255],
					width: 2
				}
			};

			// Create a graphic and add the geometry and symbol to it
			var pointGraphic = new Graphic({
				geometry: point,
				symbol: markerSymbol
			});

			/****************************
			 * Create a polyline graphic
			 ****************************/

					// First create a line geometry (this is the Keystone pipeline)
			var polyline = {
						type: "polyline", // autocasts as new Polyline()
						paths: [
//							[-111.30, 52.68],
//							[-98, 49.5],
//							[-93.94, 29.89],
//							[-97.06124,32.834],
//							[-97.06326,32.759],
//							[-97.06138,32.837],
//							[-97.06133,32.836],
//							[-97.06298,32.755]
							[109.509, 18.258],
							[109.51, 18.255],
							[109.51, 18.253],
							[109.51, 18.249],
							[109.51, 18.246],

							[109.511, 18.242],
							[109.511, 18.238],
							[109.51, 18.235],
							[109.509, 18.232]
						]
					};

			var paths = [
				[  // first path
					[-97.06138,32.837,5],
					[-97.06133,32.836,6],
					[-97.06124,32.834,7]
				], [  // second path
					[-97.06326,32.759],
					[-97.06298,32.755]
				]
			];

			var line = new Polyline({
				hasZ: false,
				hasM: true,
				paths: paths,
				spatialReference: { wkid: 4326 }
			});

			// Create a symbol for drawing the line
			var lineSymbol = {
				type: "simple-line", // autocasts as SimpleLineSymbol()
				color: [226, 119, 40],
				width: 4
			};

			var lineSymbol_two = {
				type: "simple-line", // autocasts as SimpleLineSymbol()
				color: "red",
				width: 6
			};

			// Create an object for storing attributes related to the line
			var lineAtt = {
				河道名称: "三亚河",
				河道起点: "马家村",
				河道终点: "牛家村",
				河道长度: "1km",
				整治目标: "整治污水",
				所属区域: "地球村",
				河长名称: "马大富",
				河长职位: "村委书记",
				河长联系电话: "123456987"
			};

			var lineAtt_t = {
				Name: "三亚河2",
				hz: "hello word2",
				Length: "3,456 km2"
			};

			/*******************************************
			 * Create a new graphic and add the geometry,
			 * symbol, and attributes to it. You may also
			 * add a simple PopupTemplate to the graphic.
			 * This allows users to view the graphic's
			 * attributes when it is clicked.
			 ******************************************/
			var polylineGraphic = new Graphic({
				geometry: polyline,
				symbol: lineSymbol_two,
				attributes: lineAtt,
				popupTemplate: { // autocasts as new PopupTemplate()
					title: "{riverName}",
					content: [{
						type: "fields",
						fieldInfos: [{
							fieldName: "河道名称"
						}, {
							fieldName: "河道起点"
						}, {
							fieldName: "河道终点"
						}, {
							fieldName: "河道长度"
						}, {
							fieldName: "整治目标"
						}, {
							fieldName: "所属区域"
						}, {
							fieldName: "河长名称"
						}, {
							fieldName: "河长职位"
						}, {
							fieldName: "河长联系电话"
						}]
					}]
				}

			});

			var poly_two= new Graphic({
				geometry: polyline,
				symbol:lineSymbol_two,
				attributes:lineAtt_t,
				popupTemplate: { // autocasts as new PopupTemplate()
					title: "{Name}",
					content: [{
						type: "fields",
						fieldInfos: [{
							fieldName: "Name"
						}, {
							fieldName: "hz"
						}, {
							fieldName: "Length"
						}]
					}]
				}
			});

			/***************************
			 * Create a polygon graphic
			 ***************************/

					// Create a polygon geometry
			var polygon = {
						type: "polygon", // autocasts as new Polygon()
						rings: [
							[-64.78, 32.3],
							[-66.07, 18.45],
							[-80.21, 25.78],
							[-64.78, 32.3]

						]
					};

			// Create a symbol for rendering the graphic
			var fillSymbol = {
				type: "simple-fill", // autocasts as new SimpleFillSymbol()
				color: [227, 139, 79, 0.8],
				outline: { // autocasts as new SimpleLineSymbol()
					color: [255, 255, 255],
					width: 1
				}
			};

			// Add the geometry and symbol to a new graphic
			var polygonGraphic = new Graphic({
				geometry: polygon,
				symbol: fillSymbol
			});

			// Add the graphics to the view's graphics layer
			view.graphics.addMany([pointGraphic, polylineGraphic, polygonGraphic]);

			view.on("load", function () {
				view.graphics.on("mouse-enter", function (e) {
					console.log("hello world")
				})
			})
			view.on("mouse-enter", function (e) {
				console.log("h")
			})
		});
	</script>
</head>

<body>
<div id="viewDiv"></div>
</body>

</html>